{% extends 'base.html.twig' %}

{% block title %}Paiement Refusé{% endblock %}

{% block body %}
 <div class="container">
    <h1>Payement refusé</h1>

    <p>
        Votre paiement n'a pas abouti, veuillez essayer un autre paiement.
    </p>
 
 </div>
{% endblock %}