{% extends 'base.html.twig' %}

{% block title %}Paiement Reussi{% endblock %}

{% block body %}
 <div class="container">
    <h1>Payement accepté</h1>

    <p>
        Merci pour votre paiement.
    </p>
 
 </div>
{% endblock %}